header{
    width: 100%;
    float: left;
    font-family: "Angsana New";
    text-align: center;


}
nav {
    width: 20%;
    float: left;

}
main {
    width: 60%;
    float: left;
    font-size: large;
    min-height: 400px;
    text-align: center;
}
footer {
    width: 100%;
    float: left;
    text-align: center;
    font-size: small;
    font-weight: bold;

}
h1, p, img {
    padding: 20px;
    text-indent: 25px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darkgray;

    border: 1px solid #555555;
}
li {
    text-align: center;
    border-bottom: 1px solid #555555;

}
li, a {
    display: block;
    color: black;
    padding: 8px 0px 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

li:last-child {
    border-bottom: none;
}